PORT=3000
ANKY_DEV_BYPASS_CREDITS=false
ANKY_DEV_MOCK_MIRROR=false
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
REVENUECAT_CREDIT_CODE=CRD
REVENUECAT_PROJECT_ID=
REVENUECAT_SECRET_KEY=
REQUEST_TIME_TOLERANCE_MS=300000
ANKY_AUTO_TRIAL_ENABLED=false
ANKY_TRIAL_CREDITS=8
ANKY_IOS_TRIAL_ENABLED=false
ANKY_IOS_DEVICECHECK_REQUIRED=true
APPLE_DEVICECHECK_TEAM_ID=
APPLE_DEVICECHECK_KEY_ID=
APPLE_DEVICECHECK_PRIVATE_KEY=
APPLE_DEVICECHECK_ENV=production
ANKY_ANDROID_TRIAL_ENABLED=false
ANKY_ANDROID_PLAY_INTEGRITY_REQUIRED=true
